// Containers

$width--large: 1440;
$width--medium: 960;
$width--small: 680;
$width: 1240;

// Padding

$padding--xlarge: 100;
$padding--large: 50;
$padding--medium: 25;
$padding--small: 10;
$padding: 15;

// Other Sizes
$base--border-radius: 3px;
$base--z-index: 0;
