.button {
  cursor: pointer;
  position: relative;
  font-size: rem($font-size--text);
  font-family: inherit;
  color: $color--white;
  background-color: $color--darkgray;
  border: 0;
  margin: 0;
  padding: rem(15) rem(35);
  font-weight: 700;
  appearance: none;

  a {
    color: $color--white;
  }

  &:hover {
    background-color: $color--action;
  }

  &:not([disabled]) {
    cursor: pointer;

    &:focus,
    &:hover {
      color: $color--white;
      background-color: $color--action;
    }
  }
}


.button-back {
  color: $color--black;
  display: inline-block;
  font-size: rem($font-size--text);
  margin-bottom: 2rem;
  text-decoration: none;

  &::before {
    content: '← ';
    display: inline-block;
  }

  &:focus,
  &:hover {
    color: $color--action;

    &::before {
      transform: translateX(#{rem(-2)});
    }
  }

  @media print {
    display: none;
  }
}

.button-close {
  position: relative;
  width: rem(56);
  height: rem(56);
  border: 0;
  margin: 0;
  background-color: transparent;
  appearance: none;
  cursor: pointer;

  span {
    position: absolute;
    left: calc(50% - #{rem(18 * 0.5)});
    top: calc(50% - #{rem(2 * 0.5)});
    height: rem(2);
    width: rem(18);
    background-color: $color--darkgray;

    &:nth-of-type(1) {
      transform: rotate(45deg);
    }

    &:nth-of-type(2) {
      transform: rotate(-45deg);
    }
  }
}
